body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:19px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:66px;
  width:374px;
  height:667px;
  font-size:18px;
  color:#FFFFFF;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:66px;
  width:374px;
  height:40px;
  color:#FFFFFF;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:81px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:81px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:81px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:81px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:81px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:78px;
  width:27px;
  height:17px;
  color:#FFFFFF;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:83px;
  width:17px;
  height:7px;
  color:#FFFFFF;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:83px;
  width:4px;
  height:7px;
  color:#FFFFFF;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:77px;
  width:32px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:79px;
  width:53px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:79px;
  width:36px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:382px;
  width:375px;
  height:80px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:392px;
  width:55px;
  height:57px;
  color:#FFFFFF;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:392px;
  width:55px;
  height:57px;
  color:#FFFFFF;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:268px;
  width:55px;
  height:57px;
  color:#999999;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:518px;
  width:55px;
  height:57px;
  color:#999999;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:461px;
  width:55px;
  height:57px;
  color:#CCCCCC;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:325px;
  width:55px;
  height:57px;
  color:#CCCCCC;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:325px;
  width:55px;
  height:57px;
  color:#CCCCCC;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:518px;
  width:55px;
  height:57px;
  color:#999999;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:461px;
  width:51px;
  height:57px;
  color:#CCCCCC;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:58px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:268px;
  width:55px;
  height:57px;
  color:#999999;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:106px;
  width:374px;
  height:43px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:120px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:116px;
  width:27px;
  height:29px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:117px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FF9900;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:48px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:645px;
  width:110px;
  height:47px;
  font-size:36px;
  color:#FF9900;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:48px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:645px;
  width:110px;
  height:47px;
  font-size:36px;
  color:#FF9900;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:64px;
  width:374px;
  height:667px;
  font-size:18px;
  color:#FFFFFF;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:41px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:64px;
  width:374px;
  height:40px;
  color:#FFFFFF;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:79px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:79px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:79px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:79px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:79px;
  width:6px;
  height:8px;
  color:#FFFFFF;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:76px;
  width:27px;
  height:17px;
  color:#FFFFFF;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:81px;
  width:17px;
  height:7px;
  color:#FFFFFF;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:81px;
  width:4px;
  height:7px;
  color:#FFFFFF;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:75px;
  width:32px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:77px;
  width:53px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:77px;
  width:36px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:104px;
  width:374px;
  height:43px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:113px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FF9900;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:111px;
  width:29px;
  height:26px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:114px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:128px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:147px;
  width:374px;
  height:68px;
  font-size:36px;
  color:#FFFFFF;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:370px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:222px;
  height:19px;
}
#u250p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:6px;
}
#u250p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:8px;
}
#u250p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u250p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u250p002 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u250p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:119px;
  width:213px;
  height:1px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:115px;
  width:7px;
  height:7px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:89px;
  width:122px;
  height:109px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:465px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:64px;
  width:300px;
  height:464px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:17px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
